@import 'src/styles/_colors.scss';

.tasks-area {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    padding-left: 25%;
    padding-right: 25%;
}

.tasks-area h3 {
    color: $secondary-color;
}

hr {
    height: auto;
    border: none;
    border-left: 1px solid $secondary-color;
}