@import 'src/components/styles/_colors.scss';

.tasks-area {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.tasks-area h3 {
    color: $secondary-color;
    font-size: 1.3em;
}

hr {
    height: auto;
    border: none;
    border-left: 1px solid $main-color;
}

