@import 'src/components/styles/_colors.scss';

.to-do-area {
    width: 50%;
    box-sizing: border-box; 
    text-align: left;
    padding-left: 15%;
    position: relative;
}

.single-task input, ::-webkit-input-placeholder {
    outline: none;
    border: none;
    font-size: 1em;
}

.done-area {
    width: 50%;
    text-align: left;
    box-sizing: border-box; 
    padding-left: 5%;
    position: relative;
}


// properties shared by ToDo.js and Done.js
.tasks-unchecked {
    margin-top: 3%;
}

.single-task {
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-round {
    width: 32px;
    height: 32px;
    background-color: #C4C4C4;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #fff;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}

.checkbox-round:checked{
    background-image: url('../../../icons/check-mark.png');
    background-repeat: no-repeat;
    background-position: center;
}
