@import 'src/components/styles/_colors.scss';

.header-area {
    padding: 3%;
    background-color: $main-color;
    margin: 0;
    text-align: center;
}

.title-logo {
    font-size: 3em;
    margin-bottom: 0;
}

.title-date {
    font-size: 1.3em;
}